.new-contact-page {
    width: 80vw;
    margin: 0 auto;
}

h1 {
    text-align: center;

}

form {
    width: 40%;
    margin: 0 auto;
    margin-top: 38px;
}
input {
    width: 100%;
    margin: 5px 0px 15px 0px;
    padding: 5px;
}

button {
    width: 100%;
}

