.header {
    width: 100vw;
    height: 80px;
    padding: 25px 0px 10px 30px;
    background: #121C50;
}

#header-left {
    color: #ffffff;
    float: left;
    margin-top: 0px
}

#header-right {
    float: right;
    margin-top: 5px;

    
}
    #header-right a {
        padding-right: 30px;
        color: #5FF2CE;
        
    }

h1 {
    margin-top: 0px
}

